@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

header {
    background-image: url(./images/elon-musk02.jpg);
    opacity: 0.9;
    background-color: darkblue;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: "no-repeat";
    background-position: center;
    background-size: cover;
    fill: red;
    border: solid;
    height: 100vh;
    overflow-y: hidden;
}

.line-nav {
    //@include flexCenter;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 4% 1fr 1fr 1fr 3fr 4%;
    align-items: center;
    //border: solid white;

    .logo-hdr {
        grid-column: 2/3;
        //border: solid white;
        color: white;
        a {
            //height: 100%;
            //border: solid white;
            margin: auto;
            //width: fit-content;
            max-width: 92px;
            max-height: 5rem;
            @include flexCenter();
            overflow: hidden;
            img {
                //max-height: 5rem;
                //width: 60%;
                min-width: 100px;
                //background-color: red;
                //border-radius: 50%;
            }
        }
    }

    .nav-hdr {
        //border: solid white;
        grid-column: 4/6;
        justify-self: end;
        width: 100%;
        height: 100%;
        //align-self: ;

        .nav-links {
            //border: solid white;
            height: 100%;
            @include flexCenter();
            justify-content: space-evenly;
            //gap: 50px;
            .join-btn {
                a {
                    text-decoration: none;
                    color: white;
                    font-family: "Lobster", cursive;
                    font-weight: bolder;
                    font-size: 1.3rem;
                }
            }
            .nav-link {
                height: 60%;
                @include flexCenter();
                a {
                    text-decoration: none;
                    @include flexCenter();
                    color: white;
                    font-family: "Roboto Slab", serif;
                    font-size: 1.2rem;
                    border-radius: 50px 50px;
                    transition: all 700ms;
                    height: 100%;
                    &:hover {
                        background-color: rgba(255, 0, 0, 0.6);
                        padding-inline: 1rem;
                    }
                }
            }
        }
    }
}

.tester {
    color: white;
}

.about-block {
    position: absolute;
    z-index: 0;
    bottom: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: 2% 1fr 2%;
    grid-template-rows: 4rem 1fr;
    //border: solid white;
    //min-height: 62%;
    min-width: 300px;
    width: 100%;
    overflow: hidden;
    max-height: 100vh;
    .title-div {
        color: white;
        grid-column: 2/3;
        max-height: 4rem;
        //border: solid red;
        display: grid;
        align-items: center;

        .title {
            text-align: left;
            font-family: 'Pacifico', cursive;
            color: rgb(235, 43, 53);
        }
    }

    .paragraph-div {
        grid-column: 2/3;
        color: skyblue;
        font-weight: bolder;
        min-height: 100%;
        max-width: 100%;
        //border: solid red;
        //margin: auto;
        //padding: 3%;
        .paragraph {
            align-items: center;
            //border: solid green;
            font-size: clamp(1rem, 2rem, 3rem);
            min-height: 20rem;
            height: 100%;
            //line-height: 8rem;
            min-width: 300px;
            max-width: 600px;
            margin-inline: left;
            text-align: left;
            //padding-inline: 4%;
            //padding-right: 21%;
            &::first-letter {
                color: red;
                text-align: left;
                //border: solid white;
                font-size: 14rem;
                line-height: 10rem;
                ///margin-bottom: 5rem;
                float: left;
            }

            .charachs {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 20px;
                font-family: 'Ultra', serif;
                color: rgb(255, 255, 255);
            }
        }
    }
}

@media only screen and (max-width: 949px) {
    .line-nav {
        display: none;
    }
}









.companies-div{
    @include flexCenter();
    position: absolute;
    right: 9%;
    bottom:0%;
    min-width: 500px;
    max-width: 50%;
    min-height: 60vh;
    z-index: 0;
    //background-color: red;

    

    .comp-gall{
        margin-left: auto;
        margin-top: auto;
        //border: solid red;
        max-width: 300px;
        .comp-list{
            list-style: none;
            @include flexCenter();
            justify-content: center;
            flex-wrap: wrap;
            //border: solid green;
            gap: 20px;
            padding: 0;
            min-height: 20rem;
            width: 100%;
            margin: 0;
            border: solid;
            border-radius: 6px;
            background-color: rgb(30, 30, 30);
            .a-company{

                .Neuralink{
                    background-color: red;
                }

                .com-img1{
                    width: 60px;
                    //border: white solid;
                }
                .com-img2{
                    width: 40px;
                    //border: solid white;
                }
                .com-img3{
                    //height: 250px;
                    width: 240px;
                    //border: solid red;
                }
                .com-img4{
                    width: 120px;
                    //border: solid red;
                }
            }
        }
    }
}
@media screen and (max-width:820px) {
    .companies-div{
        display: none;
    }
}
#companie-btn-div{
    position: absolute;
    right: 6.9%;
    top: 20%;
    border: white;
    #companie-btn{
    width: 100px;
    background: silver;
    fill: green;
    color: white;
    padding: 18%;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: none;
    }
}
