@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
header {
  background-image: url(./images/elon-musk02.jpg);
  opacity: 0.9;
  background-color: darkblue;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: "no-repeat";
  background-position: center;
  background-size: cover;
  fill: red;
  border: solid;
  height: 100vh;
  overflow-y: hidden;
}

.line-nav {
  min-height: 20vh;
  display: grid;
  grid-template-columns: 4% 1fr 1fr 1fr 3fr 4%;
  align-items: center;
}
.line-nav .logo-hdr {
  grid-column: 2/3;
  color: white;
}
.line-nav .logo-hdr a {
  margin: auto;
  max-width: 92px;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.line-nav .logo-hdr a img {
  min-width: 100px;
}
.line-nav .nav-hdr {
  grid-column: 4/6;
  justify-self: end;
  width: 100%;
  height: 100%;
}
.line-nav .nav-hdr .nav-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.line-nav .nav-hdr .nav-links .join-btn a {
  text-decoration: none;
  color: white;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  font-size: 1.3rem;
}
.line-nav .nav-hdr .nav-links .nav-link {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-nav .nav-hdr .nav-links .nav-link a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  border-radius: 50px 50px;
  transition: all 700ms;
  height: 100%;
}
.line-nav .nav-hdr .nav-links .nav-link a:hover {
  background-color: rgba(255, 0, 0, 0.6);
  padding-inline: 1rem;
}

.tester {
  color: white;
}

.about-block {
  position: absolute;
  z-index: 0;
  bottom: 0%;
  left: 0%;
  display: grid;
  grid-template-columns: 2% 1fr 2%;
  grid-template-rows: 4rem 1fr;
  min-width: 300px;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
}
.about-block .title-div {
  color: white;
  grid-column: 2/3;
  max-height: 4rem;
  display: grid;
  align-items: center;
}
.about-block .title-div .title {
  text-align: left;
  font-family: "Pacifico", cursive;
  color: rgb(235, 43, 53);
}
.about-block .paragraph-div {
  grid-column: 2/3;
  color: skyblue;
  font-weight: bolder;
  min-height: 100%;
  max-width: 100%;
}
.about-block .paragraph-div .paragraph {
  align-items: center;
  font-size: 2rem;
  min-height: 20rem;
  height: 100%;
  min-width: 300px;
  max-width: 600px;
  margin-inline: left;
  text-align: left;
}
.about-block .paragraph-div .paragraph::first-letter {
  color: red;
  text-align: left;
  font-size: 14rem;
  line-height: 10rem;
  float: left;
}
.about-block .paragraph-div .paragraph .charachs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  font-family: "Ultra", serif;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 949px) {
  .line-nav {
    display: none;
  }
}
.companies-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 9%;
  bottom: 0%;
  min-width: 500px;
  max-width: 50%;
  min-height: 60vh;
  z-index: 0;
}
.companies-div .comp-gall {
  margin-left: auto;
  margin-top: auto;
  max-width: 300px;
}
.companies-div .comp-gall .comp-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  min-height: 20rem;
  width: 100%;
  margin: 0;
  border: solid;
  border-radius: 6px;
  background-color: rgb(30, 30, 30);
}
.companies-div .comp-gall .comp-list .a-company .Neuralink {
  background-color: red;
}
.companies-div .comp-gall .comp-list .a-company .com-img1 {
  width: 60px;
}
.companies-div .comp-gall .comp-list .a-company .com-img2 {
  width: 40px;
}
.companies-div .comp-gall .comp-list .a-company .com-img3 {
  width: 240px;
}
.companies-div .comp-gall .comp-list .a-company .com-img4 {
  width: 120px;
}

@media screen and (max-width: 820px) {
  .companies-div {
    display: none;
  }
}
#companie-btn-div {
  position: absolute;
  right: 6.9%;
  top: 20%;
  border: white;
}
#companie-btn-div #companie-btn {
  width: 100px;
  background: silver;
  fill: green;
  color: white;
  padding: 18%;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  border: none;
}/*# sourceMappingURL=headr.css.map */